@model IEnumerable<SystemType>

@{ <div class="col-lg-6">
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Primary Systems</h6>

            </div>
            <div class="card-body">
                @if (Model.Any())
                {

                    foreach (var item in Model.ToList())
                    {


                        List<string> systemName = item.SystemName.Split(' ').ToList();
                        List<string> pluginStrings = item.Key.ToString().Split('-').ToList();
                        var indexString = item.SystemName;
                        var pluginIndex = "a" + item.Key.ToString();

                        if (systemName.Any())
                        {
                            indexString = "";
                            indexString = String.Join("", systemName);
                        }
                        if (pluginStrings.Any())
                        {
                            pluginIndex = "";
                            pluginIndex = "a" + pluginStrings[0];
                        }

                        <ul>
                            @if (item != Model.ToList()[0])
                            {
                                <br />
                            }
                            <a href="#@indexString" class="d-block card-header py-3" data-toggle="collapse"
                               role="button" aria-expanded="true" aria-controls="collapseCardExample">
                                <h6 class="m-0 font-weight-bold text-primary">@item.SystemName</h6>
                            </a>
                            <div class="collapse" id="@indexString">
                                <div class="card-body">

                                    <ul>
                                        
                                        <li><p>@item.Version</p></li>
                                        <li><p>@item.ProgrammingLanguage</p></li>
                                    </ul>
                                    <a href="#@pluginIndex" class="d-block card-header py-3" data-toggle="collapse"
                                       role="button" aria-expanded="true" aria-controls="collapseCardExample">
                                        <h6 class="m-0 font-weight-bold text-primary">@item.SystemName  Plugins</h6>
                                    </a>
                                    <div class="collapse" id="@pluginIndex">
                                        <div class="card-body">
                                            <ul>
                                                @foreach (var plugin in item.Plugins)
                                                {

                                                    <li>System Name: @plugin.SystemName</li>
                                                    <li>Version: @plugin.Version</li>
                                                    <li>Programming language: @plugin.ProgrammingLanguage</li>
                                                    if (plugin != item.Plugins.Last())
                                                    {
                                                    <p>____________________________________________________________</p>
                                                        }
                                                    }
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </ul>
                    }
                }
            </div>
        </div>
    </div>
}

